body{
  margin: 0;
  background-color: black;
  /* background-image: url(../img/bg-2.png),url(../img/bg.png);
  background-position: 40.6% 87%,37% 61.4%;
  background-size: 231.8%,191.5%; */
  background-image: url(../img/bg-2.png),url(../img/bg.png);
  background-position: 40.6% 95%,37% 61.4%;
  background-size: auto 83.6%,auto 68.5%;
  background-repeat: no-repeat;
}
*{
  transition: all .3s;
}
.bg{
  z-index: 100;
  position: absolute;
  top: 0;
}
main{
  max-width: 1200px;
  aspect-ratio: 1200 / 2920;
  margin: 0 auto;
  position: relative;
  top: 0;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 21px 0 11px;
  max-width: 550px;
  width: 80%;
}
header a{
  text-decoration: none;
  color: #FFFFFF;
}
header a img{
  height: 11px;
}
.logo{
  height: 22.7%;
  position: relative;
}
.logo video{
  width: 100%;
  position: absolute;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  display: block;
  z-index: -1;
}
.install{
  display: flex;
  justify-content: center;
}
.install a{
  width: 50%;
}
.install a:nth-child(1){
  text-align: right;
}
.install img{
  height: 50px;
  margin: 0 15px;
}
@media screen and (max-width: 767px){
  header a img{
    height: 7px;
  }
  .install img{
    height: 30px;
    margin: 0 15px;
  }
}
.slide{
  margin-top: 1.8%;
  position: relative;
}
.slide .image{
  width: 83.5%;
  aspect-ratio: 16/9;
  margin: 0 auto;
  border-radius: 4vw;
  overflow: hidden;
  filter: drop-shadow(0 0 16px #FF0078);
}
.slide .image img{
  width: 100%;
  height: 100%;
}
.slide .present{
  position: absolute;
  right: 0.1%;
  top: 9.9%;
  width: 21%;
}
.slide .present img{
  width: 100%;
}
.slide .menu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5% 0;
}
.slide .menu div{
  aspect-ratio: 1/1;
  width: 1.3%;
  margin: 0 1%;
  background-color: #FFFFFF;
  border-radius: 50%;
}
.app{
  display: flex;
  justify-content: center;
  margin-top: 8%;
}
.app .screen{
  width: 46.5%;
  position: relative;
}
.app .screen img{
  width: 45.3%;
  max-width: 30vw;
  position: absolute;
  filter: drop-shadow(0 0 16px #FF0078);
  box-shadow: #FF0078;
}
.app .screen img:nth-child(1){
  top: 2%;
  left: 31.5%;
  z-index: 1;
}
.app .screen img:nth-child(2){
  top: 31.1%;
  left: -9%;
  z-index: 2;
}
.app .screen img:nth-child(3){
  top: 45.2%;
  left: 46.6%;
  z-index: 3;
}
.app .phone{
  width: 31%;
}
.app .phone img{
  width: 100%;
}
.url{
  padding-top: 13%;
  padding-bottom: 5%;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Noto Sans JP", sans-serif;
  width: auto;
}
.url>img{
  width: 33%;
  min-width: 240px;
  margin: 4% auto 0 auto;
  display: block;
}
.url>a{
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  display: block;
}
.url>a p{
  margin: 13px 0;
  font-size: 18px;
  display: inline-block;
  width: 140px;
  padding: 2px 0;
  font-weight: bold;
  border: solid #FFFFFF 2px;
}
.url .faq > div{
  background-color: #ff00aa;
  min-width: 300px;
  max-width: 1020px;
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  height: 60px;
  overflow: hidden;
}
.faq img{
  width: 30px;
  margin: 0 10px;
}
.url .faq > div[data-state='open'] {
  height: 100% !important;
}
.url .faq > div[data-state='open'] .faq-button{
  transform-origin: center;
  transform: rotate(45deg);
}
/* .url .faq > div[data-state='close'] {
  height: 60px;
} */
.url .faq>div>div{
  display: flex;
  align-items: center;
  height: min-content;
}
.faq a {
  display: block;
  color: #000000;
}
.url .faq div div p{
  width: calc(100% - 10px);
  margin: 0;
  padding-left: 10px;
  font-weight: bold;
  color: #FFFFFF;
}
.faq-button{
  width: 30px;
  height: 30px;
  padding: 15px;
  position: relative;
}
.faq-button div{
  border-radius: 3px;
  position: absolute;
  background-color: #FFFFFF;
}
.faq-button :nth-child(1){
  width: 30px;
  height: 6px;
  margin: 12px 0;
}
.faq-button :nth-child(2){
  width: 6px;
  height: 30px;
  margin: 0 12px;
}
.url .faq>div>p{
  margin: 10px;
  margin-left: 60px;
}
.url .txt{
  text-align: center;
  color: #FFFFFF;
  line-height: 2;
  font-weight: bold;
  margin: 22px 0;
}
footer{
  height: 100px;
  width: 100vw;
  background-color: #2e2f36;
}
footer .list{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .list a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1vw;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Noto Sans JP", sans-serif;
  margin: 23px 20px 0px;
  text-align: center;
}
footer .list a p{
  margin: 0;
}
footer .copyright{
  font-size: 12px;
  font-family: 'M PLUS 1p', sans-serif;
  margin: 20px 0 0 0;
  color: #FFFFFF;
  text-align: center;
}

