body{
  margin: 0;
  background-color: black;
  /*background-image: url(../img/bg-2.png),url(../img/bg.png);
  background-position: 40.6% 87%,37% 61.4%;
  background-size: 231.8%,191.5%;
  background-image: url(../img/bg-2.png),url(../img/bg.png);
  background-position: 40.6% 95%,37% 61.4%;
  background-size: auto 83.6%,auto 68.5%;
  background-repeat: no-repeat; */
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 21px 0;
  max-width: 550px;
  width: 80%;
}
header a{
  text-decoration: none;
  color: #FFFFFF;
}
header a img{
  height: 11px;
}
@media screen and (max-width: 767px){
  header a img{
    height: 7px;
  }
}
main{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  color: #FFFFFF;
}
main h1{
  font-size: 32px;
  margin: 32px 0 0 0;
}
main p{
  font-size: 16px;
  margin: 8px 0 0 0;
}
main h2{
  font-size: 24px;
  margin: 24px 0 0 0;
}
footer{
  height: 100px;
  width: 100vw;
  background-color: #2e2f36;
}
footer .list{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .list a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1vw;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Noto Sans JP", sans-serif;
  margin: 23px 20px 0px;
  text-align: center;
}
footer .list a p{
  margin: 0;
}
footer .copyright{
  font-size: 12px;
  font-family: 'M PLUS 1p', sans-serif;
  margin: 20px 0 0 0;
  color: #FFFFFF;
  text-align: center;
}

.yahoku{
  height: 50px;
}