body{
  margin: 0;
  background-color: black;
  position: relative;
  padding-bottom: 100px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 21px 0;
  max-width: 550px;
  width: 80%;
}
header a{
  text-decoration: none;
  color: #FFFFFF;
}
header a img{
  height: 11px;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100vw;
  background-color: #2e2f36;
}
footer .list{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .list a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1vw;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Noto Sans JP", sans-serif;
  margin: 23px 20px 0px;
  text-align: center;
}
footer .list a p{
  margin: 0;
}
footer .copyright{
  font-size: 12px;
  font-family: 'M PLUS 1p', sans-serif;
  margin: 20px 0 0 0;
  color: #FFFFFF;
  text-align: center;
}

